<% var arg = wordgroup.arg; %>
<% var tableId = "table" + arg; %>
<% var divId = "div" + arg; %>
<% var statusId = "status" + arg; %>
<div id=<%=divId%> name=<%arg%>>
<div>
<button class="save btn btn-primary btn-lg" name=<%=arg%>>save</button>
&nbsp;
&nbsp;
<button class="delete btn btn-lg" name=<%=arg%>>delete</button>
&nbsp;
&nbsp;
<button class="add btn btn-lg" name=<%=arg%>>add</button>
<br>
<br>
</div>
<div id=<%=statusId%> name=<%arg%>>
</div>
<table id=<%=tableId%> name=<%=arg%> class="table table-striped">
    <tbody>
    <tr class="success">
        <td><div contenteditable="true">meaning</div></td>
        <td><div contenteditable="true"><%= wordgroup.meaning%></div></td>
    </tr>
    <tr class="success">
        <td><div contenteditable="true">paraphrase</div></td>
        <td><div contenteditable="true"><%= wordgroup.paraphrase%></div></td>
    </tr>
    <% var words = wordgroup.word_list; %>
    <%- partial('word.ejs', words) %>
</table>
</div>
<div>
<br>
</div>
